h1.title {
	text-align: center;
	border-bottom: ridge 0.2rem;
}

div.links {
	border-bottom: ridge 0.2rem;
}



body {
	border: groove 0.4rem;
	padding: 0.5rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 80ch;
	background-color: #70865e;

}